<h1>Editing event</h1>

<% form_for(@event) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :eventid %><br />
    <%= f.text_field :eventid %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_field :desc %>
  </p>
  <p>
    <%= f.label :userid %><br />
    <%= f.text_field :userid %>
  </p>
  <p>
    <%= f.label :startdate %><br />
    <%= f.datetime_select :startdate %>
  </p>
  <p>
    <%= f.label :enddate %><br />
    <%= f.datetime_select :enddate %>
  </p>
  <p>
    <%= f.label :span %><br />
    <%= f.text_field :span %>
  </p>
  <p>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :year %><br />
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :month %><br />
    <%= f.text_field :month %>
  </p>
  <p>
    <%= f.label :day %><br />
    <%= f.text_field :day %>
  </p>
  <p>
    <%= f.label :segmentlen %><br />
    <%= f.text_field :segmentlen %>
  </p>
  <p>
    <%= f.label :icon %><br />
    <%= f.text_field :icon %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>