<p>
  <b>Eventid:</b>
  <%=h @event.eventid %>
</p>

<p>
  <b>Desc:</b>
  <%=h @event.desc %>
</p>

<p>
  <b>Userid:</b>
  <%=h @event.userid %>
</p>

<p>
  <b>Startdate:</b>
  <%=h @event.startdate %>
</p>

<p>
  <b>Enddate:</b>
  <%=h @event.enddate %>
</p>

<p>
  <b>Span:</b>
  <%=h @event.span %>
</p>

<p>
  <b>Location:</b>
  <%=h @event.location %>
</p>

<p>
  <b>Year:</b>
  <%=h @event.year %>
</p>

<p>
  <b>Month:</b>
  <%=h @event.month %>
</p>

<p>
  <b>Day:</b>
  <%=h @event.day %>
</p>

<p>
  <b>Segmentlen:</b>
  <%=h @event.segmentlen %>
</p>

<p>
  <b>Icon:</b>
  <%=h @event.icon %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>