<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Isles Of Time</title>
  <link rel="icon" type="image/png" href="/images/favicon.png">
  
  <!-- <%= stylesheet_link_tag 'scaffold' %> -->
  <!-- IOT CSS Files -->
  <%= stylesheet_link_tag "main.css" %>
  <%= stylesheet_link_tag "images.css" %>
  
  <!-- External CSS Libraries  -->
  <link rel="stylesheet" type="text/css" href="/javascripts/jqueryui/css/ui-lightness/jquery-ui-1.8.2.custom.css" />	
  <link rel="stylesheet" href="/javascripts/lavalamp-0.2.0/lavalamp_test.css" type="text/css" media="screen">
  
  <!-- External Javascript Libraries -->
  <%= javascript_include_tag "jqueryui/js/jquery-1.4.2.min.js" %>
  <%= javascript_include_tag "jqueryui/js/jquery-ui-1.8.2.custom.min.js"%>
  <%= javascript_include_tag "lavalamp-0.2.0/jquery.easing.min.js"  %>
  <%= javascript_include_tag "lavalamp-0.2.0/jquery.lavalamp.js" %>
  
  <!-- IOT javascript files -->
  <%= javascript_include_tag "iot/main.js" %>
  
</head>
<body class="signup-background commonalign">

  <div id="header" class = "common commonalign" >
    <ul class="lavaLampBottomStyle" id="mainnav">
      <li class="current"><a href="/index">Home</a></li>
      <li><a href="/events/learnmore">Learn More</a></li>
      <li><a href="/users/signin">Sign Up or Sign In</a></li>
    </ul>
  </div>

<%= yield %>

  <div id="footer" class="common commonalign">
    <ul class="lavaLampBottomStyleFooter" id="footnav">
      <li><a href="/events/terms">&copy; 2010 IslesOfTime.com</a></li>
      <li class="current"><a href="/events/about">About Us</a></li>
      <li><a href="/events/contact">Contact Us</a></li>
      <li><a href="/events/faqs">FAQs</a></li>
      <li><a href="/events/privacy">Privacy</a></li>
    </ul>
  </div>
  
</body>
</html>

<%= yield :javascript -%>